// Dit is de standaard stylesheet. 
// Omdat we Bootstrap gebruiken, hoeven we hier dus niet zo veel aan te passen. 
// In de tweede stylesheet zijn enkele aanpassingen op bootstrap gedaan.

.board {
    position: relative;
}

.matchedtiles {
	position: relative;

	.matchedtilecontainer {
		display:inline-block;
	}
}