$hover-color: #9d9d9d;
$menu-items-text: #000;
$active-menu-items-text: #fff;
$background: #fff;

.navbar-inverse {
    background-color:$background;
}

#navbar {
    a.navbar-brand {
        color:$menu-items-text;

        &:hover {
            color:$hover-color !important;
        }
    }  

    ul {
        li {
            a {
                color: $menu-items-text;
                &:hover {
                    color:$hover-color;
                }
            }

            &.active {
                a {
                    color:$active-menu-items-text;
                }
            }
        }
    }
}


.board {
    position: relative;
}