    
    <input type="text" id="name"/>
    <input type="hidden" id="tempid">0</p>
    <div ng-onLoad="games.init()">
    <div ng-repeat="game in games.games | filter:{state : 'open'}">
        
            layout : {{ game.layout }} <br/>
            createdBy : {{ game.createdBy.name }} <br/>
            state : {{ game.state }} <br/>
            id : {{ game.id }} <br/>
            Players in game : <br/>
            
                    Creator : {{ game.createdBy.name }} <br/>
            <div ng-repeat="player in game.players">
                    Name : {{player.name}} <br/>

             </div>


        <button class="button" ng-click="Games.joinGame($index)" ng-show="!Games.joinedGame" >join game </button>
    <button ng-click="Games.leaveGame($index)" ng-show="Games.joinedGame" >leave game </button>
            
        
    </div>
    specate game
    <div ng-repeat="game in games.games | filter:{state : 'playing'}">
        <a href="#/games/{{game._id}}" >game</a>
        
            layout : {{ game.layout }} <br/>
            createdBy : {{ game.createdBy.name }} <br/>
            state : {{ game.state }} <br/>
            id : {{ game.id }} <br/>
            Players in game : <br/>
            
                    Creator : {{ game.createdBy.name }} <br/>
            <div ng-repeat="player in game.players">
                    Name : {{player.name}} <br/>

             </div>


            
        
    </div>
 </div>

 

   