
<div ng-onLoad="games.init()">
    <!-- Begin game joinen -->
    <div class="page-header">
        <h1>Join een game</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Layout</th>
                        <th>Created By</th>
                        <th>Players</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games.games | filter: {state : 'open'} | inGame : true ">
                        <td>{{ game.id }}</td>
                        <td>{{ game.gameTemplate.id }}</td>
                        <td>{{ game.createdBy.name }}</td>
                        <td>
                            <div ng-repeat="player in game.players">
                                Name : {{ player.name }}
                            </div>
                        </td>
                        <td>{{ game.state }}</td>
                        <td><button class="button" ng-click="games.joinGame(game.id)" ng-show="!games.joinedGame">Join Game</button></td>
                        <td><button ng-click="games.leaveGame(game.id)" ng-show="games.joinedGame">Leave Game</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Einde game joinen -->


    <!-- Begin game bekijken -->
    <div class="page-header">
        <h1>Bekijk een game</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Layout</th>
                        <th>Created By</th>
                        <th>Players</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games.games | filter: {state : 'playing'}">
                        <td>{{ game.id }}</td>
                        <td>{{ game.gameTemplate.id }}</td>
                        <td>{{ game.createdBy.name }}</td>
                        <td>
                            <div ng-repeat="player in game.players">
                                Name : {{ player.name }}
                            </div>
                        </td>
                        <td>{{ game.state }}</td>
                        <td><a class="button" href="#/games/{{game._id}}">Bekijk game</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Einde game bekijken -->

